{
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended"],
  "plugins": ["eslint-plugin-jest"]
}
